mat-card-title{
  background-color: #FF9800;
}
mat-card-header{
  font-size: 20px;
}

.final{
  background-color: #fd5523;
}
span{
  display: block;
  margin: auto;
  width: 60%;
}
button{
  background-color: #FF9800;
  margin: 20px auto auto auto;
  display: block;
}
