<p>
  end-game works!
</p>
<mat-card>
  <div>Hole 1 Par</div>
  <div>{{ game.holeArray[1].par}}</div>
  <div>Par total</div>
  <div>{{ game.parTotal}}</div>
  <div>Yard Total</div>
  <div>{{ game.yardTotal}}</div>
  <div>Player 1</div>
  <div>{{ game.playerArray[0].name}}</div>
  <div>Player Score</div>
  <div>{{ game.playerArray[0].scoreArray[1]}}</div>

  <div>Player In</div>
  <div>{{ game.playerArray[2].inScore}}</div>

</mat-card>
<mat-card *ngFor="let player of players"> {{ getInScore(player.scoreArray) }} </mat-card>
