

<mat-card>
</mat-card>
<mat-card *ngFor="let player of game?.playerArray; index as index">
  <mat-card-title>Player {{ index + 1 }} {{ player.name }}</mat-card-title>

  <mat-card-content>
    <div>Out Score: </div><div>{{ getOutScore(player.scoreArray) }}</div>
  </mat-card-content>
  <mat-card-content>
    <div>In Score: </div><div>{{ getInScore(player.scoreArray) }}</div>
  </mat-card-content>
  <mat-card-content>
    <div> Course Par:</div><div>{{ game.parTotal }}</div>
  </mat-card-content>
  <mat-card-content>
    <div> Player Score: </div><div>{{ getTotalScore(player.scoreArray) }}</div>
  </mat-card-content>
  <mat-card-content>
    <div>Par Comparison: </div><div>{{ getParComparison(player.scoreArray) }}</div>
  </mat-card-content>
  <mat-card-header>{{ getMessage(player.scoreArray) }}</mat-card-header>


</mat-card>

<div><span><button mat-button class="final" [routerLink]="['/welcome']">Play Again</button></span></div>
