.hole{
  background-color: #27966f;
  margin: 15px;
}
.title{
  background-color: #b9e4c9;
}
span{
  width: 25%;
  margin: auto;
}

.holeInfoHeader{
  font-weight: bold;
}
h1{
  margin: 15px auto;
 text-align: center;
}
input{
  /*text-decoration: none;*/
  border: none;
  width: 50%;
}
.final{
  background-color: #fd5523;
}
