
<mat-card *ngFor="let player of players"> {{ getInScore(player.scoreArray) }} </mat-card>
  <mat-card *ngFor="let hole of holes; index as index">
    <mat-card-content>
      <table>
       <thead>
          <h3> Hole {{index}}</h3>
        </thead>
        <tbody>

          <th *ngFor="let player of players; index as p">{{player.name}}</th>  <th>Par</th><th>Yards</th><th>HCP</th>
            <td></td>
           <tr>
             <th>Score</th>
             <td *ngFor="let player of players; index as p"><mat-form-field>
              <input matInput type="number"  (keyup)="updateGame()" [(ngModel)]="game.playerArray[p].scoreArray[index]">
            </mat-form-field></td>
            <td>{{game.holeArray[index].par}}</td>
            <td>{{game.holeArray[index].yards}}</td>
            <td>{{game.holeArray[index].hcp}}</td>
           </tr>

        </tbody>
      </table>
    </mat-card-content>
  </mat-card>
