.hole{
  background-color: #0ec254;
  margin: 15px;
}
.title{
  background-color: #b2f3cb;
}
span{
  width: 25%;
  margin: auto;
}

.holeInfoHeader{
  font-weight: bold;
}
h1{
  margin: 15px auto;
 text-align: center;
}
input{
  /*text-decoration: none;*/
  border: none;
  width: 50%;
}
