<h1>Player Score Card</h1>
<div class="topDiv">
    <span class="topSpan">
    <button mat-button class="final" [routerLink]="['/welcome']">Pause Game</button>
    <button mat-button class="final" [routerLink]="['/end-game']">Final Score</button>
  </span>
</div>

  <mat-card class="hole" *ngFor="let hole of game?.holeArray; index as index">
   <mat-card class="title">
     <mat-card-title fxLayoutAlign="center center"> Hole  {{ index + 1}} </mat-card-title>
   </mat-card>
    <mat-card>


    <mat-card-content>

      <div class="holeInfoHeader" fxLayout="row" fxLayoutAlign="start start">
        <span >Hole Par</span><span>Yards</span><span>hcp</span>
      </div>

      <div fxLayout="row" fxLayoutAlign="start start">
        <span >{{ hole.par}}</span><span>{{hole.yards}}</span><span>{{hole.hcp}}</span>
      </div>

      <mat-card>
        <div fxLayout="row" fxLayoutAlign="center center">
          <span class="holeInfoHeader">Player</span>
          <span class="holeInfoHeader">Score</span>
        </div>
        <div  *ngFor="let player of game?.playerArray; index as p" fxLayout="row" fxLayoutAlign="center center">
          <span>{{player.name}}</span>
           <span fxLayout="row" fxLayoutAlign="center center"> <mat-form-field>

            <input  matInput type="number" (keyup)="updateGame()" (click)="updateGame()" [(ngModel)]="player.scoreArray[index]">

           </mat-form-field></span>


      </div></mat-card>

    </mat-card-content>
    </mat-card>
  </mat-card>
<button mat-button class="final" [routerLink]="['/end-game']">Final Score</button>
