<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>Golf Score Card</span>
</mat-toolbar>
<mat-toolbar color="accent">
  <button mat-button class="space-left" [routerLink]="['/welcome']">Home</button>
  <button mat-button class="space-left" [routerLink]="['/course']">Course</button>
  <button mat-button class="space-left" [routerLink]="['/player']">Players</button>
  <button mat-button class="space-left" [routerLink]="['/score']">Score</button>
  <button mat-button class="space-left" [routerLink]="['/end-game']">End</button>
</mat-toolbar>

<router-outlet></router-outlet>
