
<mat-card>
  <mat-form-field>
    <mat-select [(ngModel)]="courseId" (selectionChange)="getCourseInfo()" placeholder="Choose Course" >
      <mat-option *ngFor='let course of courseObject' [value]="course.id">{{ course.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="selectedTeeBox" placeholder="Choose Tee Box" >
      <mat-option *ngFor='let tee of course?.holes[0].teeBoxes; index as index' [value]="index">{{ tee.teeType }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
<!--<mat-card>-->
  <!--<mat-header-row></mat-header-row>-->
  <!--<div> Hole 1</div>-->
  <!--<mat-table>-->
  <!--</mat-table>-->
<!--</mat-card>-->
<div *ngFor='let hole of course?.holes'> {{ hole.teeBoxes[selectedTeeBox]?.yards }}</div>

