button{
  background-color: #fd5523;
  /*background-color: #0ec254;*/
  /*position: center;*/
  /*align-content: center;*/
  /*align-items: center;*/
}
mat-card{
width: 100%;
}
/*div{*/
  /*position: center;*/
/*}*/
.selection{
  margin-bottom: 15px;
}
.name{
  margin: 20px auto;
}

