<mat-card>
  <div class="selection">
  <!--<mat-card class="selection" fxLayout="row" fxLayoutAlign="center center">-->
    <mat-card>
      <mat-form-field>
        <mat-select [(ngModel)]="courseId" (selectionChange)="getCourseInfo()" placeholder="Choose Course" >
          <mat-option *ngFor='let course of courseObject' [value]="course.id">{{ course.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>

    <mat-card>
      <mat-form-field>
        <mat-select [(ngModel)]="selectedTeeBox" placeholder="Choose Tee Box" >
          <mat-option *ngFor='let tee of course?.holes[0].teeBoxes; index as index' [value]="index">{{ tee.teeType }}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>

    <mat-card>
      <mat-form-field>
        <mat-select [(ngModel)]="numPlayer" (selectionChange)="getPlayerArray()" placeholder="How Many Players">
          <mat-option  value= 1>1</mat-option>
          <mat-option  value= 2>2</mat-option>
          <mat-option  value= 3>3</mat-option>
          <mat-option  value= 4>4</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card>
  </div>

  <div class="name">
  <!--<div class="name" fxLayout="row" fxLayoutAlign="center center">-->
      <mat-form-field *ngFor='let players of playerArray; let i = index'>
        <input  type="text" matInput [(ngModel)]="players.name" placeholder="Player Name" required>
      </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center">
    <!--<button (click)="buildGame()">Start Game</button>-->
      <button mat-button (click)="buildGame()" [routerLink]="['/score']">Start Game</button>
  </div>
</mat-card>




<!--<div *ngFor='let hole of course?.holes'> {{ hole.teeBoxes[selectedTeeBox]?.yards }}</div>-->

