/*.image {*/
  /*background-image: url("../../assets/golf.jpeg");*/
  /*background-size: cover;*/
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
/*}*/
mat-card{
  alignment: center;
  width: 70%;
  margin: auto;
}
img{
  width: 100%;
}
h1 {
  text-align: center;

}
.mat-button{
  background-color: #37966f;
  /*background-color: #5ad5a6;*/
  margin: 10px auto;
  position: center;
}
mat-card{
  align-items: center;
}
div{
  alignment: center;
  margins: autp;
  /*width: 60%;*/
}
