
mat-card{
  alignment: center;
  width: 70%;
  margin: auto;
}
img{
  width: 100%;
}
h1 {
  text-align: center;

}
.mat-button{
  background-color: #37966f;
  /*background-color: #5ad5a6;*/
  margin: 20px;

}
mat-card{
  align-items: center;
}
div{
  alignment: center;
  margins: aut0;
  /*width: 60%;*/
}
span{
  margin: auto;
  display: block;
  width: 60%;
}
